.challenge-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.new-challenge-container {
  display: flex;
  justify-content: space-evenly;
}

.active_container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100%;
  flex-wrap: wrap;
}

.active-challenges-container {
  background-color: #faedcd;
  display: flex;
  justify-content: left;
}

.new-challenge-label {
  background-color: #a77e55;
  color: black;
  text-align: center;
  height: 3vh;
  padding: 0.5em;
}

.active-challenge-label {
  padding: 0.8em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card {
  /* border-radius: 15px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  background-color: rgb(187, 203, 164);
  margin: 0.3em;
  text-align: center;
  float: left;
  width: fit-content;
  padding: 3px;
}

.card-content-btn-container {
  padding-left: 10px;
}

.card-container {
  display: flex;
}

.card-content {
  font-weight: 50%;
  margin: auto;
}

/**
* wird alles abwärts irgendwo verwendet?
*/

.btn {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  outline: 10vh;
  display: inline-block;
  height: 60px;
  padding: 8px;
  color: white;
  background-color: #83944c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
