.challenge-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5em;
}

.active-challenges-container {
  /*background-color: #faedcd;*/
  margin-top: 1em;
  display: flex;
  justify-content: left;
}

.active-challenge-label {
  padding: 0.8em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.active_container,
.open_container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  max-height: 5em;
  overflow-x: auto;
  /* overflow-y: hidden; */
  white-space: nowrap;
  margin-right: 0.5em;
}

.open-challenges-container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: left;
}

.new-challenge-label {
  background-color: #a77e55;
  color: black;
  text-align: center;
  height: 3vh;
  padding: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.card {
  background-color: rgb(187, 203, 164);
  margin: 0.3em;
  text-align: center;
  float: left;
  width: fit-content;
  padding: 3px;
  border-radius: 0.2em;
  padding: 0.5em;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.2);
}

.card-content-btn-container {
  padding-left: 10px;
}

.card-container {
  display: flex;
}

.card-content {
  font-weight: 50%;
  margin: auto;
}

/**
* wird alles abwärts irgendwo verwendet?
*/

.btn {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  outline: 10vh;
  display: inline-block;
  height: 60px;
  padding: 8px;
  color: white;
  background-color: #83944c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
