.challenge-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5em;
}

.active-challenges-container {
  /*background-color: #faedcd;*/
  margin-top: 1em;
  display: flex;
  justify-content: left;
}

.active-challenge-label {
  padding: 0.8em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.active_container,
.open_container {
  display: flex;
  flex-direction: row;
  max-height: 12em;
  overflow-x: auto;
  /* overflow-y: hidden; */
  margin-right: 0.5em;
}

.open-challenges-container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: left;
}

.card {
  background-color: whitesmoke;

  margin: 0.3em;
  text-align: center;
  float: left;
  width: fit-content;
  border-radius: 0.2em;
  padding: 0.5em;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-container {
  padding: 0.3em;
  min-width: 12em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-card-container {
  max-width: 17em;
}

#title-card {
  overflow-wrap: break-word;
  word-break: normal;
}

.card-content-btn-container {
  background-color: rgba(242, 225, 97, 0.569);
  padding: 0.3em;
  height: 3em;
  display: flex;
  display: row;
  justify-content: space-between;
}

.numbers-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.length-sub-text,
.points-sub-text,
.card-content {
  margin: 0;
  font-size: small;
}

.card-content {
  font-size: large;
}

.icons-container {
  display: flex;
  flex-direction: row;
  place-items: end;
}

.card-icons-conatiner {
  background-color: #fff;
  border-radius: 0.2em;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  height: min-content;
  height: 1.8em;
  width: 1.8em;
  display: flex;
  place-content: center;
}

#card-icon {
  place-self: center;
}

.background-approve {
  background-color: rgb(108, 194, 108);
  border: none;
}

.card-icons-conatiner:hover {
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.2);
  opacity: 0.8;
}
