/*
*,
*:before,
*:after {
  box-sizing: inherit;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

html {
  display: grid;
  grid-template-columns: minmax(200px, 1200px);
  justify-content: center;
  background-color: dimgray;
}

#main-container {
  display: grid;
  background-color: floralwhite;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header sidebar"
    "main main main main sidebar";
}

#main-header {
  grid-area: header;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#burger-menu,
#app-name,
#header-score {
  display: flex;
}

#burger-menu {
  margin: auto 0px auto 1em;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
}

#score-container {
  margin-right: 1em;
  justify-content: center;
}

#score-heading,
#score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#score {
  font-size: x-large;
  margin-top: -0.5em;
}

.profile-container {
  position: fixed;
  top: 8px;
  width: 20rem;
  z-index: 20;
  background-color: rgb(215, 248, 248);
  transform: translateY(-110%);
}


#x-burger-menu {
  margin: 2em auto auto 1em;
  width: 1.5em;
  height: 1.5em;
}

#img-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#profile-img-container {
  margin-top: 2em;
  display: inline-block;
  position: relative;
  width: 50%;
}

#dummy-profile-img {
  margin-top: 100%;
}

#profile-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: silver;
  border-radius: 50%;
}

#main {
  grid-area: main;
  background-color: yellow;
}

#main-leaderboard {
  grid-area: sidebar;
  background-color: rgba(150, 256, 0, 0.3);
}
*/

body {
  background-color: black;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.left-main-container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  height: 10vh;
}

.burger-menu-container {
  flex-grow: 1;
  text-align: center;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.title-container {
  flex-grow: 10;
  text-align: center;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.score-container {
  flex-grow: 2;
  text-align: center;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  height: 86vh;
  overflow: auto;
}

.stats-container {
  text-align: center;
  flex-grow: 2;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 10vh;
}

.right-main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.leaderboard-container {
  text-align: center;
  flex-grow: 1;
  height: 47vh;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.history-container {
  text-align: center;
  flex-grow: 1;
  height: 48vh;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.title {
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgreen;
}

.score-title {
  color: black;
}

.score {
  font-size: 2em;
  color: black;
}

.burger-menu-icon {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-header {
  color: darkgreen;
  font-size: large;
  margin-top: 5px;
}

.history-header {
  color: darkgreen;
  font-size: large;
  margin-top: 5px;
}

hr {
  border-color: darkgreen;
  border-width: 1px;
}

.upper-stats-container {
  display: flex;
  justify-content: space-evenly;
}

.co2-score-label {
  flex-grow: 1;
}

.score-category-table {
  flex-grow: 1;
}

.entry-description {
  flex-grow: 1;
}

.new-entry-button {
  flex-grow: 1;
}

/*
* new Entry
*/

.overlay-entries {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transform: translateY(-110%);
}
.showMenu {
  transform: translateY(0);
}

.entries-popUp {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  background: white;
}

.diagram-canvas {
  background-color: darkgreen;
  margin-top: 2em;
  height: 40vh;
  width: 50vw;
}


/*
* contains challenges.html
*/
.challenges-view {
  height: 10rem;
}



