html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**

  GENERAL CSS

  ToDo: unnötigen Scheiss raus hausen 

  Inhalt: 
  - Profile View
  - main application
  - new Entry
  - Login
  - register
  - history


*/

/*
----------------------  Profile View  -------------------------------------------------------------------------------------
*/
.profile-container {
  position: fixed;
  top: 8px;
  width: 18rem;
  height: 100%;
  z-index: 20;
  /*  background-color: rgb(215, 248, 248); */
  background-color: white;
  transform: translateY(-110%);
  border-radius: 12px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
}

.menu-close-container {
  display: flex;
  justify-content: end;
}

#burger-menu-open {
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

#burger-menu-close {
  margin: 1.5em 1.5em auto 1em;
}

#img-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pf-name {
  display: grid;
  justify-content: center;
}
#profil-name {
  font-weight: 600;
  font-size: 20px;
  margin: 10px;
}
.logout-button {
  padding: 5px;
  justify-content: center;
  background-color: #507325;
  border-radius: 3px;
  color: white;
  border-color: #507325;
  position: absolute;
  right: 5%;
}
#add-friend-input {
  margin: 10px;
  margin-right: 0;
  width: 70%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  font-size: 14px;
}
#add-friend-button {
  margin-left: 0;
  width: 28px;
  height: 28px;
  background-color: #507325;
  border-color: #507325;
  color: white;
  border-radius: 5px;
}

.friend-list {
  padding: 0;
  margin: 0;
  display: grid;
}

/* Style the list items */
.friend {
  cursor: pointer;
  position: relative;
  padding: 6px 8px 6px 40px;
  background: #eee;
  font-size: 18px;
  height: 35px;
  margin: 5px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  background-color: #fff;
}
.friend-name {
  align-content: center;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  font-size: 14px;
}
.friend-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  border-color: #507325;
  background-color: #507325;
  color: white;
}
.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

/*
----------------------  main application  -------------------------------------------------------------------------------------
*/

html {
  display: grid;
  grid-template-columns: minmax(200px, 1600px);
  justify-content: center;
  color: black;
  background: url("../images/big_leafes.jpg") no-repeat center center fixed;
  /* Bildquelle: https://unsplash.com */
  background-size: cover;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8% 88% 4%;
  grid-template-areas:
    "header header header sidebar"
    "main main main sidebar"
    "footer footer footer footer";
  grid-gap: 0.5em;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  border-radius: 0.5em;
  color: #fff;
}

.sidebar {
  grid-area: sidebar;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

main {
  grid-area: main;
  padding: 0.5em;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  background-color: rgba(247, 247, 247, 0.95);
  border-radius: 0.5em;
}

footer {
  grid-area: footer;
  border-radius: 0.5em;
  color: #fff;
}

.burger-menu-container {
  flex-grow: 1;
  text-align: center;
}

#burger-menu-open {
  cursor: pointer;
  font-size: x-large;
}

.title-container {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  height: 3vh;
  display: flex;
  justify-content: center;
  cursor: default;
  font-size: 3em;
}

.score-container {
  flex-grow: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-title {
  cursor: default;
}

.score {
  font-size: 2.5em;
  cursor: default;
}

hr {
  border-bottom: 1px;
}

.stats-container {
  text-align: center;
  flex-grow: 2;
  height: 10vh;
}

.upper-stats-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.co2-score-label {
  text-align: start;
  margin-left: 0.5em;
  flex-grow: 0.5;
  margin-top: 0.4em;
  font-size: x-large;
}

.score-category-table {
  flex-grow: 1;
}

.label-categories-num > td {
  font-size: x-large;
}

.label-categories > th {
  font-size: small;
}

.entry-description {
  flex-grow: 1;
  font-size: large;
}

.new-entry-button {
  flex-grow: 1;
  background-color: rgb(242, 225, 97);
  border: none;
  border-radius: 0.3em;
  margin-top: -0.5em;
  margin-right: 0.4em;
  font-size: large;
  cursor: pointer;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
}

.new-entry-button:hover {
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.2);
  opacity: 0.8;
}

.canvas {
  height: 80%;
  width: 95%;
  position: relative;
  margin: 2em;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox not working?? */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.canvas::-webkit-scrollbar {
  display: none;
}

#diagram-canvas {
  margin: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*
----------------------  footer  -------------------------------------------------------------------------------------
*/

/*
----------------------  new Entry  -------------------------------------------------------------------------------------
*/

.overlay-entries,
.overlay-login {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transform: translateY(-110%);
}
.showMenu {
  transform: translateY(0);
}

.popUp {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  background: white;
}

.popUp-login {
  position: absolute;
  width: 80%;
  height: 90%;
  top: 5%;
  left: 10%;
  text-align: center;
  background: white;
}

.entry-popUp {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: arial, "lucida console", "Open Sans", sans-serif;
  color: #2b3e51;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  background: white;
  border-radius: 0.5em;
}

.website-hidden {
  opacity: 0;
  z-index: 9999;
}

.entry-popUp {
  background-color: #507325;
  font-size: 1.6rem;
  font-family: arial, "lucida console", "Open Sans", sans-serif;
  color: #2b3e51;
}

#food {
  background-color: #cd7459e2;
  font-weight: bold;
  width: 10%;
}

#other {
  background-color: #b33e24e2;
  font-weight: bold;
  width: 10%;
}

#transport {
  background-color: #b0742592;
  font-weight: bold;
  width: 10%;
  border-radius: 0.5em 0 0 0;
}

/*die einzelnen Felder*/
.fieldset {
  background-color: #fff;
}

/*die Beschreibungen zu den Angaben*/
.text {
  padding-bottom: 15px;
  font-weight: bold;
}

.means-of-transport {
  padding-bottom: 15px;
}

.checkboxes {
  padding: 5px;
}

#text-thrift-shopping {
  padding-top: 20px;
  padding-bottom: 15px;
}

/*button*/
#save-button {
  background: #faedcd;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  border-color: #2b3e51;
  cursor: pointer;
  width: 160px;
}

#save-button:hover {
  background-color: #c3cdca;
}

/*
----------------------  Login  -------------------------------------------------------------------------------------

*/

.login-popUp {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: arial, "lucida console", "Open Sans", sans-serif;
  color: #2b3e51;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  background: white;
}

.login-popUp > h2 {
  font-weight: 300;
  text-align: center;
}

/* grüne Box */
.login-popUp > #login {
  background-color: #507325;
  width: 35%;
  text-align: center;
  margin: 30px auto;
  padding: 22px 0 0 0;
  border-radius: 7px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);
}

.login-popUp > input {
  display: block;
  box-sizing: border-box;
  line-height: 50px;
  width: 50%;
  height: 60px;
  border-radius: 4px;
  margin: auto;
}

.login-popUp > input[type="text"],
.login-popUp > input[type="password"] {
  width: 50%;
  padding: 0 0 0 10px;
  margin: auto;
  font-style: normal;
  font-size: 16px;
  background-color: #fefae0;
}

.login-popUp > input[type="submit"]:hover {
  background-color: #c3cdca;
}

.login-popUp > input[type="submit"] {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

#register-here {
  background-color: #eeedf1;
  color: #87888a;
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  border-radius: 0 0 7px 7px;
}

#login-button {
  font-size: medium;
  color: blue;
}

/*
----------------------  register  -------------------------------------------------------------------------------------

*/

.register-popUp {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: arial, "lucida console", "Open Sans", sans-serif;
  color: #2b3e51;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  background: white;
}

.register-popUp > h2 {
  font-weight: 300;
  text-align: center;
}

/* grüne Box */
.register-popUp > #register {
  background-color: #507325;
  width: 35%;
  text-align: center;
  margin: 30px auto;
  padding: 22px 0 0 0;
  border-radius: 7px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);
}

/* Eingabefelder */
.register-popUp > input {
  display: block;
  box-sizing: border-box;
  line-height: 50px;
  width: 50%;
  height: 60px;
  border-radius: 4px;
}

.register-popUp > input[type="text"],
.register-popUp > input[type="password"],
.register-popUp > input[type="email"] {
  width: 50%;
  padding: 0 0 0 10px;
  margin: auto;
  font-style: normal;
  font-size: 16px;
  background-color: #fefae0;
}

/*button*/
.register-popUp > input[type="submit"]:hover {
  background-color: #c3cdca;
}

.register-popUp > input[type="submit"] {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

#back-to-login {
  background-color: #eeedf1;
  color: #87888a;
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  border-radius: 0 0 7px 7px;
}

#register-button {
  font-size: medium;
  color: blue;
}

/*
----------------------  leaderboard  -------------------------------------------------------------------------------------
  */

.leaderboard-container {
  text-align: center;
  flex-grow: 1;
  height: 47vh;
  overflow: hidden;
}

.leaderboard-header {
  --start: 15%;
  color: #fff;
  position: relative;
  padding: 10px;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;
  font-size: 1.8em;
  margin-bottom: 5px;
  cursor: default;
}

.leaderboard-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px;
  background-color: antiquewhite;
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
}

.leaderboard-list {
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 8px;
  scroll-behavior: auto;
}

.leaderboard-profile {
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 5px 10px 5px 5px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  background-color: #fff;
}

.leaderboard-profile:first-child {
  background-color: #e8b603;
}
.leaderboard-profile:nth-child(2) {
  background-color: #9f5e5e;
}
.leaderboard-profile:nth-child(3) {
  background-color: #b0742592;
}
.leaderboard-profile:nth-child(4) {
  background-color: #cd7459e2;
}
.leaderboard-profile:nth-child(5) {
  background-color: #b33e24e2;
}

.leaderboard-picture {
  max-width: 100%;
  width: 40px;
  border-radius: 50%;
}

.leaderboard-name {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.64px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
}
.leaderboard-value {
  color: #357960;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

.leaderboard-container {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

/*
----------------------  history  -------------------------------------------------------------------------------------
  */

.history-container {
  text-align: center;
  flex-grow: 1;
  height: 48vh;
  border-radius: 0.5em;
  margin-top: 0.5em;
  color: #fff;
}

.history-header {
  font-size: 1.8em;
  margin-top: 5px;
  cursor: default;
}

.history-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px;
}

.negative {
  background-color: red;
}

.positive {
  background-color: green;
}

.history-element-description {
  flex-grow: 4;
}

.history-element-score {
  flex-grow: 1;
}

/*
----------------------  impressum  -------------------------------------------------------------------------------------
  */

.impressum-link {
  color: rgba(247, 247, 247, 0.9);
  text-decoration: none;
}
