@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    takes normal css and tailwind :)
*/

/*
    example for tailwind

.main-heading {
  @apply bg-green-100;
}

*/

.feather {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.main {
  @apply max-w-screen-sm;
}

.content {
  @apply flex flex-row justify-center;
}
